@model object

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=300, initial-scale=1" name="viewport">
    <meta name="google-site-verification" content="LrdTUW9psUAMbh4Ia074-BPEVmcpBxF6Gwf0MSgQXZs">
    <title>Sign Up</title>

    <!-- Add your CSS and JavaScript files here -->
    <link rel="stylesheet" href="path/to/your/css/file.css">
    <script src="path/to/your/js/file.js"></script>
</head>
<body>
    <div>
        @Html.Raw(Model.ToString())
    </div>
</body>
</html>
